@import url('theme.css');

header {
  display: flex;
  width: auto;
  background-color: var(--header-bg-color);
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
}
  
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h2 {
  color: var(--text-color);
}

form {
  display: grid;
  grid-gap: 10px;
}

input {
  padding: 10px;
  border: 1px solid var(--input-border-color);
  border-radius: 5px;
  font-size: 1rem;
}