.avatar-atributes-columns {
  display: grid;
  grid-auto-flow: row dense;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  justify-content: safe;
  align-items: center;
}

  .grid-horizontal-d2 {
    display: grid;
    grid-auto-flow: row dense;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    align-items: center;
  }

.register-buttons {
    margin: 50px;
    justify-content: center;
    min-width: auto;
}

.avatarInput-Image {
    height: 7em;
    padding: 10px;
    margin-bottom: 4px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;

  }

  .avatar-grid-horizontal{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }